<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2022 BestSolution.at and others.
     
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v.2.0 which is available at
    https://www.eclipse.org/legal/epl-2.0.
     
    SPDX-License-Identifier: EPL-2.0
     
    Contributors:
        BestSolution.at - initial API and implementation
 -->

<plugin>

   <extension
         id="org.eclipse.fx.code.compensator.project.jdt.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
