.Groovy.styled-text-area .selection-marker {
	-fx-background-color: #2b5696;
}

.Groovy.styled-text-area .groovy_default {
	-styled-text-color: #b8c4d1;
}

.Groovy.styled-text-area .groovy_operator {
	-styled-text-color: #b8c4d1;
}

.Groovy.styled-text-area .groovy_bracket {
	-styled-text-color: #b8c4d1;
}

.Groovy.styled-text-area .groovy_keyword_return {
	-styled-text-color: #d78b40;
	-fx-font-weight: bold;
}

.Groovy.styled-text-area .groovy_keyword_type {
	-styled-text-color: #d78b40;
	-fx-font-weight: bold;
}

.Groovy.styled-text-area .groovy_keyword {
	-styled-text-color: #d78b40;
	-fx-font-weight: bold;
}

.Groovy.styled-text-area .groovy_doc_default {
	-styled-text-color: #74a567;
}

.Groovy.styled-text-area .groovy_single_line_comment {
	-styled-text-color: #929292;
}

.Groovy.styled-text-area .groovy_multi_line_comment {
	-styled-text-color: #929292;
}

.Groovy.styled-text-area .groovy_string {
	-styled-text-color: #7c986c;
}

.Groovy.styled-text-area .groovy_var_interpolation {
	-styled-text-color: #99bcc8;
}

.Groovy.styled-text-area .groovy_char {
	-styled-text-color: #7c986c;
}