<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2022 BestSolution.at and others.
     
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v.2.0 which is available at
    https://www.eclipse.org/legal/epl-2.0.
     
    SPDX-License-Identifier: EPL-2.0
     
    Contributors:
        BestSolution.at - initial API and implementation
 -->

<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="org.eclipse.fx.demo.media"
            application="org.eclipse.fx.ui.workbench.fx.application">
         <property
               name="appName"
               value="org.eclipse.fx.demo.media">
         </property>
         <property
               name="applicationXMI"
               value="org.eclipse.fx.demo.media/Application.e4xmi">
         </property>
         <property
               name="cssTheme"
               value="default.theme">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.fx.ui.theme">
      <theme
            basestylesheet="css/default.css"
            id="default.theme"
            name="Default Theme">
      </theme>
      <theme
            basestylesheet="css/theme2.css"
            id="wood.theme"
            name="Wood Theme">
      </theme>
   </extension>

</plugin>
