.styled-text-area .xml.xml_default {
	-styled-text-color: -source-editor-code;
}

.styled-text-area .xml.xml_tag {
	-styled-text-color: -source-editor-markup-tag;
}

.styled-text-area .xml.xml_property_value {
	-styled-text-color: -source-editor-markup-property-value;
}

.styled-text-area .xml.xml_equals {
	-styled-text-color: -source-editor-markup-property-name;
}

.styled-text-area .xml.xml_property_name {
	-styled-text-color: -source-editor-markup-property-name;
}

.styled-text-area .xml.xml_declaration {
	-styled-text-color: -source-editor-markup-extra;
}

.styled-text-area .xml.xml_cdata {
	-styled-text-color: -source-editor-code;
}

.styled-text-area .xml.xml_pi {
	-styled-text-color: -source-editor-markup-extra;
}

.styled-text-area .xml.xml_comment {
	-styled-text-color: -source-editor-markup-doc;
}