<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension id="product" point="org.eclipse.core.runtime.products">
	<product name="CodeCompansator" application="org.eclipse.fx.ui.workbench.fx.application" >
		<property name="appName" value="CodeCompansator" />
		
		<property name="applicationXMI" value="org.eclipse.fx.code.compensator.app/Application.e4xmi" />
		
		<property name="cssTheme" value="default" />
  <property
        name="lifeCycleURI"
        value="bundleclass://org.eclipse.fx.code.compensator.app/org.eclipse.fx.code.compensator.app.ApplicationLifecycle">
  </property>
		
	</product>
	
</extension>
<extension  point="org.eclipse.fx.ui.theme">
	<theme
       basestylesheet="css/default.css"
       id="default"
       name="Default Theme"/>
 <theme
       basestylesheet="css/dark-default.css"
       id="dark"
       name="Dark Theme">
 </theme>
	
</extension>
</plugin>
