.stack-move {
	-fx-close-tab-animation: NONE
}

.part-expand-group {
	-fx-background-color: gray
}

.area-overlay > .area {
	-fx-border-color: rgba(0,0,0,0.3);
	-fx-border-width: 3px;
}

.area-overlay > .area.active {
	-fx-background-color: rgba(0,0,0,0.3);
}

.overlay-container {
	-fx-background-color: rgba(100,100,100,0.75);
}

.maximization-container {
	-fx-background-color: -fx-background;
}

.partial-restore-parent {
	-fx-background-color: -fx-background;
	-fx-padding: 0 5 5 0;
	-fx-border-color: derive(-fx-background,-30%);
}

.trim-stack .button,
.trim-stack .toggle-button {
	-fx-content-display: graphic-only;
}

.trim-stack .button.restore .graphic-node {
	-fx-graphic: url("fastview_restore.png");
}

.trim-stack .toggle-button.part-button {
	-fx-graphic: url("defaultview_misc.png");
}

.trim-stack .toggle-button.empty-stack {
	-fx-graphic: url("layout_co.png");
}