.styled-text-area .java.java_default {
	-styled-text-color: -source-editor-code;
}

.styled-text-area .java.java_operator {
	-styled-text-color: -source-editor-operator;
}

.styled-text-area .java.java_bracket {
	-styled-text-color: -source-editor-bracket;
}

.styled-text-area .java.java_keyword {
	-styled-text-color: -source-editor-keyword;
	-fx-font-weight: bold;
}

.styled-text-area .java.java_doc_default {
	-styled-text-color: -source-editor-doc;
}

.styled-text-area .java.java_string {
	-styled-text-color: -source-editor-string;
}

.styled-text-area .java.java_buitin_type {
	-styled-text-color: -source-editor-keyword;
	-fx-font-weight: bold;
}

.styled-text-area .java.java_constant {
	-styled-text-color: -source-editor-keyword;
	-fx-font-weight: bold;
}

.styled-text-area .java.java_annotation {
	-styled-text-color: -source-editor-annotation;
	-fx-font-weight: bold;
}

.styled-text-area .java.java_apidoc {
	-styled-text-color: -source-editor-api-doc;
}

.styled-text-area .java.java_number {
	-styled-text-color: -source-editor-number;
}

