.styled-text-area .kotlin.kotlin_default {
	-styled-text-color: -source-editor-code;
}

.styled-text-area .kotlin.kotlin_keyword {
	-styled-text-color: -source-editor-keyword;
	-fx-font-weight: bold;
}

.styled-text-area .kotlin.kotlin_literals {
	-styled-text-color: -source-editor-keyword;
	-fx-font-weight: bold;
}

.styled-text-area .kotlin.kotlin_doc_default {
	-styled-text-color: -source-editor-doc;
}

.styled-text-area .kotlin.kotlin_string {
	-styled-text-color: -source-editor-string;
}

.styled-text-area .kotlin.kotlin_api_doc_default {
	-styled-text-color: -source-editor-api-doc;
}

