.styled-text-area .source-segment {
	-fx-font-family: Courier;
	-fx-font-size: 12;
	/* @SuppressWarning */
	-styled-text-color: black;
	-fx-fill: -styled-text-color;
}

.styled-text-area .line-ruler {
	-fx-background: white;
}

.styled-text-area .line-ruler.spacer {
	-fx-border-width: 0 0.1 0 0;
	-fx-border-color: gray;
	-fx-border-style: solid;
}

.styled-text-area .plain-source-segment {
	-fx-font-family: Courier;
	-fx-font-size: 12;
}

.styled-text-area .line-ruler-text {
	-fx-font-family: Courier;
	-fx-font-size: 12;
	-fx-fill: gray;
}

.styled-text-area {
	-fx-fixed-line-height: 16;
}

.styled-text-area .list-cell:filled:focused:selected {
	-fx-background-color: #e8f2fe;
}

.styled-text-area .list-cell:odd {
	-fx-background-color: transparent;
}

.styled-text-area .list-cell:even {
	-fx-background-color: transparent;
}

.styled-text-area .list-cell:filled:hover {
	-fx-background-color: transparent;
}

.styled-text-area .current-line {
	-fx-background-color: #e8f2fe
}

.styled-text-area .list-cell {
	-fx-padding: 0 0 0 5;
}

.styled-text-area .source-segment-container {

}

.styled-text-area .sheet {
	-fx-cursor: text;
}

.styled-text-area .text-caret {
	-fx-fill: black;
	-fx-stroke: black;
}

.styled-text-area .selection-marker {
	-fx-background-color: #b5d5ff;
}