.source-segment {
	-fx-font-family: Courier;
	-fx-font-size: 15;
	/* @SuppressWarning */
	-styled-text-color: black;
	-fx-fill: -styled-text-color;
}

.plain-source-segment {
	-fx-font-family: Courier;
	-fx-font-size: 15;
}

.line-ruler-text {
	-fx-font-family: Courier;
	-fx-font-size: 15;
}

.list-cell:filled:focused:selected {
	-fx-background-color: #e8f2fe;
}

.list-cell:odd {
	-fx-background-color: transparent;
}

.list-cell:even {
	-fx-background-color: transparent;
}

.list-cell:filled:hover {
	-fx-background-color: transparent;
}

.list-cell {
	-fx-padding: 0;
}

.source-segment-container {
	-fx-padding: 3 0 3 0;
}

.sheet {
	-fx-cursor: text;
}

.text-caret {
	-fx-fill: black;
	-fx-stroke: black;
}

.hover {
	-fx-background-color: #b5d5ff;
}