.java-class-private {
	-fx-graphic: url("icons/class-private.png");
}

.java-class-protected {
	-fx-graphic: url("icons/class-protected.png");
}

.java-class-default {
	-fx-graphic: url("icons/class-default.png");
}

.java-class-public {
	-fx-graphic: url("icons/class-public.png");
}

/* -------------------- */

.java-method-private {
	-fx-graphic: url("icons/method-private.png");
}

.java-method-protected {
	-fx-graphic: url("icons/method-protected.png");
}

.java-method-default {
	-fx-graphic: url("icons/method-default.png");
}

.java-method-public {
	-fx-graphic: url("icons/method-public.png");
}

/* -------------------- */

.java-field-private {
	-fx-graphic: url("icons/field-private.png");
}

.java-field-protected {
	-fx-graphic: url("icons/field-protected.png");
}

.java-field-default {
	-fx-graphic: url("icons/field-default.png");
}

.java-field-public {
	-fx-graphic: url("icons/field-public.png");
}