/* JavaFX CSS - Main CSS-File */
.styled-text-area .source-segment {
	-fx-font-family: Hack;
	-fx-font-size: 12;
}

.styled-text-area .plain-source-segment {
	-fx-font-family: Hack;
	-fx-font-size: 12;
}

.styled-text-area .line-ruler-text {
	-fx-font-family: Hack;
	-fx-font-size: 12;
}

.styled-text-area .list-view {
	-fx-fixed-cell-size: 16;
}