<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2022 BestSolution.at and others.
     
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v.2.0 which is available at
    https://www.eclipse.org/legal/epl-2.0.
     
    SPDX-License-Identifier: EPL-2.0
     
    Contributors:
        BestSolution.at - initial API and implementation
 -->

<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="org.eclipse.fx.testcases.e4"
            application="org.eclipse.fx.ui.workbench.fx.application">
         <property
               value="org.eclipse.fx.testcases.e4"
               name="appName">
         </property>
         <property
               value="default.theme"
               name="cssTheme">
         </property>
         <property
               value="org.eclipse.fx.testcases.e4/Application.e4xmi"
               name="applicationXMI">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://org.eclipse.fx.testcases.e4/org.eclipse.fx.testcases.e4.lifecycle.ApplicationLifecycle">
         </property>
         <property
               name="efx_TOOLITEM_TIMER_dummy"
               value="400">
         </property>
         <property
               name="rendererFactoryUri"
               value="bundleclass://org.eclipse.fx.testcases.e4/org.eclipse.fx.testcases.e4.CustomRendererFactory">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.fx.ui.theme">
      <theme
            basestylesheet="css/default.css"
            id="default.theme">
      </theme>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.fx.testcases.e4.definition1">
         <with
               variable="test_2">
            <equals
                  value="1">
            </equals>
         </with>
      </definition>
   </extension>

</plugin>
