.XML.styled-text-area .default_tagtoken {
	-styled-text-color: rgb(0, 0, 128);
}

.XML.styled-text-area .xml_string {
	-styled-text-color: rgb(0, 128, 0);
}

.XML.styled-text-area .default_xmltoken {
	-styled-text-color: rgb(0, 0, 0);
}

.XML.styled-text-area .proc_instruction {
	-styled-text-color: rgb(128, 128, 128);
}

.XML.styled-text-area .xml_comment {
	-styled-text-color: rgb(128, 0, 0);
}