.XML.styled-text-area .selection-marker {
	-fx-background-color: #2b5696;
}

.XML.styled-text-area .default_tagtoken {
	-styled-text-color: #d1ba77;
}

.XML.styled-text-area .xml_string {
	-styled-text-color: #acc670;
}

.XML.styled-text-area .default_xmltoken {
	-styled-text-color: #b5c0cb;
}

.XML.styled-text-area .proc_instruction {
	-styled-text-color: #bcbdb9;
}

.XML.styled-text-area .xml_comment {
	-styled-text-color: #8c8983;
}