.HSL.styled-text-area .selection-marker {
	-fx-background-color: #2b5696;
}

.HSL.styled-text-area.hsl_default {
	-styled-text-color: #b8c4d1;
}

.HSL.styled-text-area.hsl_string {
	-styled-text-color: #7c986c;
}

.HSL.styled-text-area.hsl_keyword {
	-styled-text-color: #d78b40;
	-fx-font-weight: bold;
}

.HSL.styled-text-area .hsl_comment {
	-styled-text-color: #929292;
}
