.Lego.styled-text-area .selection-marker {
	-fx-background-color: #2b5696;
}

.Lego.styled-text-area .default_legodoc {
	-styled-text-color: rgb(63, 127, 95);
}

.Lego.styled-text-area .lego_keyword {
	-styled-text-color: rgb(127, 0, 85);
}
