/BasicMessages.java
/BasicMessages.properties
/BasicMessagesRegistry.java
/BasicMessages_de.properties
/BasicMessages_en.properties
/SamplePartMessages.java
/SamplePartMessages.properties
/SamplePartMessagesRegistry.java
/SamplePartMessages_de.properties
/SamplePartMessages_en.properties
