<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Workbench -->
      <package
            uri="org.eclipse.fx.code.compensator.model.workbench"
            class="org.eclipse.fx.code.compensator.model.workbench.WorkbenchPackage"
            genModel="model/Workbench.xcore"/>
   </extension>

</plugin>
