.root {
	-type-info-color: lightgray;
}

.styled-text-area .dart.quick_link {
	-styled-text-color: lightblue !important;
	-efx-decoration: "underline";
}

.invisible-char {
	-fx-fill: darkgray;
}
.invisible-char.space {
	-fx-content: "\u00B7";
}
.invisible-char.tab {
	-fx-content: "\u21E5";
}
.invisible-char.enter {
	-fx-content: "\u21B5";
}

.styled-text-area .list-view {
	-source-editor-code: #b8c4d1;
	-source-editor-operator: #b8c4d1;
	-source-editor-bracket: #b8c4d1;
	-source-editor-keyword: #d78b40;
	-source-editor-string:  #7c986c;
	-source-editor-number:  #b6c8ad;
	-source-editor-doc: #929292;
	-source-editor-api-doc: #74a567;
	-source-editor-buitin-type: rgb(255,235,121);
	-source-editor-annotation: rgb(200, 200, 200);

	-source-editor-markup-doc: #929292;
	-source-editor-markup-property-name: #b8c4d1;
	-source-editor-markup-property-value: #7c986c;
	-source-editor-markup-tag: #e9c063;
	-source-editor-markup-extra: rgb(190, 190, 190);
}

.source-viewer.styled-text-area .selection-marker {
	-fx-background-color: #2b5696;
}

.styled-text-area .list-view {
	-fx-background-color: #393939;
}

.styled-text-area .list-cell:filled:focused:selected {
	-fx-background-color: #414141;
}

.styled-text-area .current-line {
	-fx-background-color: #414141;
}

.styled-text-area .line-ruler-text {
	-fx-text-fill: #c7c7c7;
}

.styled-text-area .text-caret {
	-fx-fill: #c7c7c7;
	-fx-stroke: #c7c7c7;
}

.styled-text-hover .errors {
	-fx-background-color: darkred;
	-fx-padding: 10;
	-fx-background-radius: 5;
}
.styled-text-hover .warnings {
	-fx-background-color: darkorange;
	-fx-padding: 10;
	-fx-background-radius: 5;
}
.styled-text-hover .infos {
	-fx-background-color: blanchediamond;
	-fx-padding: 10;
	-fx-background-radius: 5;
}
.styled-text-hover .docs {
	-fx-background-color: darkblue;
	-fx-padding: 10;
	-fx-background-radius: 5;
}
.styled-text-hover .others {
	-fx-background-color: gray;
	-fx-padding: 10;
	-fx-background-radius: 5;
}

.styled-text-hover .context-info {
	-fx-background-color: #393939;
	-fx-border-color: black;
	-fx-border-width: thin;
}

.styled-text-hover-text {
	-fx-text-fill: #b8c4d1;
}

.styled-text-hover {
/*	-fx-background-color: #2b5696;
	-fx-background-radius: 5;
	-fx-padding: 10;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
*/
}