.root {
	-type-info-color: lightgray;
}

.styled-text-area .list-view {
	-source-editor-code: #b8c4d1;
	-source-editor-operator: #b8c4d1;
	-source-editor-bracket: #b8c4d1;
	-source-editor-keyword: #d78b40;
	-source-editor-string:  #7c986c;
	-source-editor-number:  #b6c8ad;
	-source-editor-doc: #929292;
	-source-editor-api-doc: #74a567;
	-source-editor-buitin-type: rgb(255,235,121);
	-source-editor-annotation: rgb(200, 200, 200);
}

.source-viewer.styled-text-area .selection-marker {
	-fx-background-color: #2b5696;
}

.styled-text-area .list-view {
	-fx-background-color: #393939;
}

.styled-text-area .list-cell:filled:focused:selected {
	-fx-background-color: #414141;
}

.styled-text-area .line-ruler-text {
	-fx-text-fill: #c7c7c7;
}

.styled-text-area .text-caret {
	-fx-fill: #c7c7c7;
	-fx-stroke: #c7c7c7;
}

.styled-text-hover-text {
	-fx-text-fill: #b8c4d1;
}

.styled-text-hover {
	-fx-background-color: #2b5696;
	-fx-background-radius: 5;
	-fx-padding: 10;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
}