.root {
	-type-info-color: darkgray;
}

.styled-text-area .pair-annotation {
	-fx-background-color: lightgray;
	-fx-border-color: gray;
	-fx-border-width: thin;
}

.styled-text-area .same-word-annotation {
	-fx-background-color: lightblue;
	-fx-border-color: blue;
	-fx-border-width: thin;
}

.styled-text-area .dart.quick_link {
	-styled-text-color: blue !important;
	-efx-decoration: "underline";
}

.styled-text-area .insertion-marker {
	-fx-fill: rgb(42, 0, 255);
	-fx-stroke: none;
}

.styled-text-area .invisible-char {
	-fx-fill: darkgray;
}

.styled-text-area .invisible-char.space {
	-fx-content: "\u00B7";
}

.styled-text-area .invisible-char.tab {
	-fx-content: "\u21E5";
}

.styled-text-area .invisible-char.enter {
	-fx-content: "\u21B5";
}

.styled-text-area .invisible-char.winenter {
	-fx-content: "\u27E1\u21B5";
}

.styled-text-area .list-view {
	-fx-background-color: white;

	-source-editor-code: rgb(0, 0, 0);
	-source-editor-operator: rgb(0, 0, 0);
	-source-editor-bracket: rgb(0, 0, 0);
	-source-editor-keyword: rgb(127, 0, 85);
	-source-editor-string:  rgb(42, 0, 255);
	-source-editor-number:  #6c83c4;
	-source-editor-doc: rgb(63, 127, 95);
	-source-editor-api-doc:  rgb(63, 95, 191);
	-source-editor-buitin-type: #74a567;
	-source-editor-annotation: rgb(200, 200, 200);

	-source-editor-markup-doc: rgb(63, 95, 191);
	-source-editor-markup-property-name: rgb(0, 0, 128);
	-source-editor-markup-property-value: #7f007f;
	-source-editor-markup-tag: #3f7f80;
	-source-editor-markup-extra: rgb(128, 128, 128);
}

.styled-text-hover .errors {
	-fx-background-color: red;
	-fx-padding: 10;
	-fx-background-radius: 5;
}
.styled-text-hover .warnings {
	-fx-background-color: darkorange;
	-fx-padding: 10;
	-fx-background-radius: 5;
}
.styled-text-hover .infos {
	-fx-background-color: blanchediamond;
	-fx-padding: 10;
	-fx-background-radius: 5;
}
.styled-text-hover .docs {
	-fx-background-color: aliceblue;
	-fx-padding: 10;
	-fx-background-radius: 5;
}
.styled-text-hover .others {
	-fx-background-color: gray;
	-fx-padding: 10;
	-fx-background-radius: 5;
}

.styled-text-hover .context-info {
	-fx-background-color: antiquewhite;
	-fx-border-color: black;
	-fx-border-width: thin;
}

.resize-popup-pane {
	-fx-background-color: rgba(20,20,20,0.7); 
	-fx-background-radius: 4px;
	-efx-resize-handle-size: 7px;
}

.content-proposal-container .split-pane .split-pane-divider {
	-fx-background-color: transparent;
}


.styled-text-hover {
/*  -fx-background-color: #ecebec;
	-fx-background-radius: 5;
	-fx-padding: 10;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
*/
}