<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="list"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.fx.runtime.examples.swt.ListExample">
         </run>
      </application>
   </extension>
   <extension
         id="table"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.fx.runtime.examples.swt.TableExample">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="at.bestsolution.efxclipse.runtime.examples.swt.list"
            name="example">
         <property
               name="appName"
               value="example">
         </property>
      </product>
   </extension>
   <extension
         id="table"
         point="org.eclipse.core.runtime.products">
      <product
            application="at.bestsolution.efxclipse.runtime.examples.swt.table"
            name="TableExample">
         <property
               name="appName"
               value="TableExample">
         </property>
      </product>
   </extension>
   <extension
         id="swtcontrolexample"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.swt.examples.controlexample.ControlLauncher">
         </run>
      </application>
   </extension>
   <extension
         id="SWTControlExample"
         point="org.eclipse.core.runtime.products">
      <product
            application="at.bestsolution.efxclipse.runtime.examples.swt.swtcontrolexample"
            name="SWTControlExample">
         <property
               name="appName"
               value="SWTControlExample">
         </property>
      </product>
   </extension>

</plugin>
