.styled-text-area .dart.dart_default {
	-styled-text-color: #b8c4d1;
}

.styled-text-area .dart.dart_operator {
	-styled-text-color: #b8c4d1;
}

.styled-text-area .dart.dart_bracket {
	-styled-text-color: #b8c4d1;
}

.styled-text-area .dart.dart_keyword {
	-styled-text-color: #d78b40;
	-fx-font-weight: bold;
}

.styled-text-area .dart.dart_keyword_1 {
	-styled-text-color: #d78b40;
	-fx-font-weight: bold;
}

.styled-text-area .dart.dart_keyword_2 {
	-styled-text-color: #d78b40;
	-fx-font-weight: bold;
}

.styled-text-area .dart.dart_single_line_comment {
	-styled-text-color: #929292;
}

.styled-text-area .dart.dart_multi_line_comment {
	-styled-text-color: #929292;
}

.styled-text-area .dart.dart_string {
	-styled-text-color: #7c986c;
}

.styled-text-area .dart.dart_string_inter {
	-styled-text-color: #7c986c;
	-fx-font-weight: bold;
}

.styled-text-area .dart.dart_builtin_types {
	-styled-text-color: #74a567;
	-fx-font-weight: bold;
}

.styled-text-area .dart.dart_doc {
	-styled-text-color: #74a567;
}

.styled-text-area .dart.dart_doc_reference {
	-styled-text-color: #74a567;
	-fx-font-weight: bold;
}

.dart-element-name {

}

.dart-type-info {
	-fx-fill: lightgray;
}