.root {
	-type-info-color: lightgray;
}

.styled-text-area .pair-annotation {
	-fx-background-color: lightgray;
	-fx-border-color: gray;
	-fx-border-width: thin;
}

.styled-text-area .same-word-annotation {
	-fx-background-color: lightblue;
	-fx-border-color: white;
	-fx-border-width: thin;
}

.styled-text-area .dart.quick_link {
	-styled-text-color: lightblue !important;
	-efx-decoration: "underline";
}

.styled-text-area .insertion-marker {
	-fx-fill: lightblue;
	-fx-stroke: none;
}

.styled-text-area .invisible-char {
	-fx-fill: darkgray;
}
.styled-text-area .invisible-char.space {
	-fx-content: "\u00B7";
}
.styled-text-area .invisible-char.tab {
	-fx-content: "\u21E5";
}
.styled-text-area .invisible-char.enter {
	-fx-content: "\u21B5";
}

.styled-text-area .invisible-char.winenter {
	-fx-content: "\u27E1\u21B5";
}


.styled-text-area .list-view {
	-source-editor-code: #b8c4d1;
	-source-editor-operator: #b8c4d1;
	-source-editor-bracket: #b8c4d1;
	-source-editor-keyword: #d78b40;
	-source-editor-string:  #7c986c;
	-source-editor-number:  #b6c8ad;
	-source-editor-doc: #929292;
	-source-editor-api-doc: #74a567;
	-source-editor-buitin-type: rgb(255,235,121);
	-source-editor-annotation: rgb(200, 200, 200);

	-source-editor-markup-doc: #929292;
	-source-editor-markup-property-name: #b8c4d1;
	-source-editor-markup-property-value: #7c986c;
	-source-editor-markup-tag: #e9c063;
	-source-editor-markup-extra: rgb(190, 190, 190);
}

.source-viewer.styled-text-area .selection-marker {
	-fx-background-color: #2b5696;
}

.styled-text-area .list-view {
	-fx-background-color: #393939;
}

.styled-text-area .current-line {
	-fx-background-color: #414141;
}

.styled-text-area .line-ruler-text {
	-fx-text-fill: #c7c7c7;
}

.styled-text-area .text-caret {
	-fx-fill: #c7c7c7;
	-fx-stroke: #c7c7c7;
}

.styled-text-hover .errors {
	-fx-background-color: firebrick;
}
.styled-text-hover .warnings {
	-fx-background-color: tomato;
}
.styled-text-hover .infos {
	-fx-background-color: dimgrey;
}
.styled-text-hover .docs {
	-fx-background-color: lightblue;
}
.styled-text-hover .others {
	-fx-background-color: palegreen;
}

.styled-text-hover .context-info {
	-fx-background-color: #393939;
	-fx-border-color: black;
	-fx-border-width: thin;
}

.styled-text-hover-text {
	-fx-text-fill: #b8c4d1;
}

.resize-popup-pane {
	-fx-background-color: rgba(230,230,230,0.7); 
	-fx-background-radius: 5px;
	-efx-resize-handle-size: 5px;
}