.Python.styled-text-area .python_default {
	-styled-text-color: rgb(0, 0, 0);
}

.Python.styled-text-area .python_operator {
	-styled-text-color: rgb(0, 0, 0);
}

.Python.styled-text-area .python_bracket {
	-styled-text-color: rgb(0, 0, 0);
}

.Python.styled-text-area .python_keyword_return {
	-styled-text-color: rgb(127, 0, 85);
	-fx-font-weight: bold;
}

.Python.styled-text-area .python_keyword_type {
	-styled-text-color: rgb(127, 0, 85);
	-fx-font-weight: bold;
}

.Python.styled-text-area .python_keyword {
	-styled-text-color: rgb(127, 0, 85);
	-fx-font-weight: bold;
}

.Python.styled-text-area .python_doc_default {
	-styled-text-color: rgb(63, 95, 191);
}

.Python.styled-text-area .python_single_line_comment {
	-styled-text-color: rgb(63, 127, 95);
}

.Python.styled-text-area .python_multi_line_comment {
	-styled-text-color: rgb(63, 127, 95);
}

.Python.styled-text-area .python_string {
	-styled-text-color: rgb(42, 0, 255);
}

.Python.styled-text-area .python_var_interpolation {
	-styled-text-color: rgb(255, 0, 0);
}

.Python.styled-text-area .python_char {
	-styled-text-color: rgb(42, 0, 255);
}