.python_default {
	-styled-text-color: rgb(0, 0, 0);
}

.python_operator {
	-styled-text-color: rgb(0, 0, 0);
}

.python_bracket {
	-styled-text-color: rgb(0, 0, 0);
}

.python_keyword_return {
	-styled-text-color: rgb(127, 0, 85);
	-fx-font-weight: bold;
}

.python_keyword_type {
	-styled-text-color: rgb(127, 0, 85);
	-fx-font-weight: bold;
}

.python_keyword {
	-styled-text-color: rgb(127, 0, 85);
	-fx-font-weight: bold;
}

.python_doc_default {
	-styled-text-color: rgb(63, 95, 191);
}

.python_single_line_comment {
	-styled-text-color: rgb(63, 127, 95);
}

.python_multi_line_comment {
	-styled-text-color: rgb(63, 127, 95);
}

.python_string {
	-styled-text-color: rgb(42, 0, 255);
}

.python_var_interpolation {
	-styled-text-color: rgb(255, 0, 0);
}

.python_char {
	-styled-text-color: rgb(42, 0, 255);
}