.project-toolbar > * > .button {
	-fx-background-color: transparent;
}

.titleDialog_Icon-new_project_dialog {
	-fx-image: url(icons/64/newprj_wiz.png);
}

.titleDialog_Icon-open_project_dialog {
	-fx-image: url(icons/64/prj_obj.png);
}

#open-project-dialog .efx-dialog-title-image {
	-fx-image: url(icons/64/prj_obj.png);
}