.styled-text-area .xml.xml_default {
	-styled-text-color: -source-editor-code;
}

.styled-text-area .xml.xml_tag {
	-styled-text-color: #3f7f80;
}

.styled-text-area .xml.xml_property_value {
	-styled-text-color: #7f007f;
}

.styled-text-area .xml.xml_equals {
	-styled-text-color: rgb(0, 0, 128);
}

.styled-text-area .xml.xml_property_name {
	-styled-text-color: rgb(0, 0, 128);
}

.styled-text-area .xml.xml_declaration {
	-styled-text-color: rgb(128, 128, 128);
}

.styled-text-area .xml.xml_cdata {
	-styled-text-color: -source-editor-code;
}

.styled-text-area .xml.xml_pi {
	-styled-text-color: rgb(128, 128, 128);
}

.styled-text-area .xml.xml_comment {
	-styled-text-color: -source-editor-api-doc;
}