<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="org.eclipse.fx.sample.e4swt"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/org.eclipse.fx.sample.e4swt/css/default.css">
         </property>
         <property
               name="appName"
               value="org.eclipse.fx.sample.e4swt">
         </property>
      </product>
   </extension>

</plugin>
